// Part of nextflow config describing resource requirements for EGAPx processes
// We rely on labels to define 3 tiers of processes - default, big, and huge.
// Make sure that executor you use supports job memory and CPU requirements
process {
    memory = 250.GB
    cpus = 63
    time = 336.h

    withLabel: 'big_job' {
        memory = 250.GB
        cpus = 63
    }

    withLabel: 'huge_job' {
        memory = 250.GB
        cpus = 63
    }

    withLabel: 'long_job' {
        time = 336.h
    }
}
